<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:sean.bostic@gmail.com">Contact Me</a></li>
            <li><a href="https://github.com/sean-bostic" target="_blank">My Github</a></li>
            <li><a href="https://www.linkedin.com/in/seanbostic/">LinkedIn</a></li>
            <li><a href="https://twitter.com/BosticSean">Twitter</a></li>
            <li><a href="https://steamcommunity.com/id/skunkworks92">Steam</a></li>
        </ul>
    </footer>
</body>

</html>